$primaryBrown: #5A4D44;
$darkText: #292724;
$lightText: #D9D9D9;
$svgGray: #777777;
$primaryGray: #E7E2E2;
$mediumGray: #4F4F4F;
$orange: #DC9753;
$red: #C91F2D;
$white: #FFFFFF;

// buttons
$primaryLargeActive: #322B25;
$primaryLargeHovered: #5A4D44;
$primaryLargeClicked: #877466;

$trs: .3s;
$br: 4px;

// Media queries

$tabletL : 1024px;
$tabletM : 820px;
$mobileL : 768px;
$mobileM : 580px;
$mobileS : 360px;